#next-link {
  font-size: 200%;
  display: nonee;
}

h1, h2, h3, h4 {
  color: white;
}
/* You can add global styles to this file, and also import other style files */
.cube{

	width: 15rem;
	height: 15rem;
	left:500px;
	top: 40px;
}
#color1 {
  background: #ff99ff;

}
#color2 {
  background: #990099;
}
#color3 {
  background: #FF77FF;
}
#color4 {
  background: #CC00CC;
}
#color5 {
  background: #FF3EFF;
}
#color6 {
  background: #ffccff;
}

.well {
  background-color: black;
}

.cube2{
	background: transparent;
	width: 15rem;
	height: 15rem;
  border: 2px solid pink;

}
.handle{
	background:transparent;
	height: 2rem;
}

/* Applies a grabbing hand on top of the div that's draggable*/
.cube.cursor-draggable, .handle {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
 /*  Apply a "closed-hand" cursor during drag operation. */
.cube.cursor-draggable:active, handle:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
