
<!-- <img class="img" src="assets/images/download.jpeg" background-size=100%> -->
<div class = "container">
  <header>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink=""></a>
    </div><br>
    <ul class="nav navbar-nav navbar-left">
<p>Level: 4</p>
  </ul>
    <ul class="nav navbar-nav navbar-right">

      <li>Lives:<div class="fourlives"><img src="/assets/images/blueheart.png"><img src="/assets/images/blueheart.png"><img src="/assets/images/blueheart.png"><img src="/assets/images/blueheart.png"></div>
    </ul>
  </div>
</nav>
</header>

<div class="well">

<h2>You’re in Niflheim, the land of ice. Place the ice cubes in color-coded order.</h2>
<br><br>
<div [hidden]="hideElement">
  <h2>The realm of ice and cold, with the <strong>FROZEN</strong> river of Elivágar.</h2>
<a href = "https://ethoreson.github.io/Asgard_JavaScript/html/niflheim.html"  id="next-link">Next</a>
</div>
<br>

<div class="cube" id="color1" [ng2-draggable]="true" style="top:2px;left:819px;"></div><br>
<div class="cube" id="color2" [ng2-draggable]="true" style="top:2px;left:819px;"></div><br>
<div class="cube" id="color3" [ng2-draggable]="true" style="top:2px;left:819px;"></div><br>
<div class="cube" id="color4" [ng2-draggable]="true" style="top:2px;left:819px;"></div><br>
<div class="cube" id="color5" [ng2-draggable]="true" style="top:2px;left:819px;"></div><br>

<button (click)="showLink()" class ="pull-right btn btn-primary" >GO!</button>

<div class="cube" id="color6" [ng2-draggable]="false" style="position: relative; top: -850px; left: 400px;"></div><br>

<div *ngFor="let cube of cubes">

  <div class="cube2" [ng2-draggable]="false" [ng2DraggableHandle]="elementreference" style="position: relative; top: -850px; left: 400px;">

  </div><br>
</div>
</div>
</div>
